
.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
    
}

h1,p{
    align-items: center;
    margin-left: 40%;
}

#result {
    text-align: right;
    height: 80px;
    font-size: 25px;
    border: 1px solid #999;
    width: 100%;
    display: block;
   
}

#mem-indicator{
    border: 1px solid #999;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}


@media (max-width: 400px) { body{
    padding: auto;
    display: inline;
} }

@media (max-width: 400px) { #display{
    font-size: 15px;
    background-color: burlywood;
    
} }

@media all and (max-width: 400px) { 
    .button {
      padding: auto;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }